    <%- include("header") %>

    <div class="box" id="heading">
      <h1 class="<%= dayStyle %>"><%= currentDay %></h1>
    </div>

    <div class="box">
      <ul>
        <%- renderedToDoList %>
      </ul>

      <form class="toDoForm item" name="tdForm" action="<%= returnPost %>" onsubmit="return validateToDoForm(tdForm);" method="post">
          <input type="text" name="todo" placeholder="New Item" autocomplete="off">
          <button type="submit" value="<%= returnPost %>">+</button>
          <!-- @TODO Decide if it is best to act on the button value or the post action -->
      </form>

    </div>

    <%- include("footer") %>
